@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc

@using WebSiteBanHang.Models
 
@model ThanhVien
@{
    ViewBag.Title = "DangKy2";
    Layout = "~/Views/Layout/DangKyLayout.cshtml";
}

<div class=" register">
    <h1>Đăng Ký</h1>
    @using(Html.BeginForm()){
    <div class="col-md-6 register-top-grid">
        <h3>Thông tin cá nhân</h3>
        <div>
            <span>Họ tên</span>
            @Html.TextBox("HoTen", "", new { placeholder = "Họ và Tên",@class="style1"})
        </div>
        <div>
            <span>Nơi ở hiện tại</span>
            @Html.TextBox("DiaChi", "", new { placeholder = "Địa chỉ", @class = "style1" })
        </div>
        <div>
            <span>Địa chỉ Email</span>
            @Html.TextBox("Email", "", new { placeholder = "Địa Chỉ Email", @class = "style1" })
        </div>
        <div>
            <span>Số điện thoại</span>
            @Html.TextBox("SoDienThoai", "", new { placeholder = "ĐIện thoại liên lạc", @class = "style1" })
        </div>
        <a class="news-letter" href="#">
            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Đăng ký nhận thông tin sản phẩm</label>
        </a>
    </div>
    <div class="col-md-6 register-top-grid register-bottom-grid">
        <h3>Thông tin đăng nhập</h3>
        <div>
            <span>@Html.LabelFor(model => model.TaiKhoan, new { @class = "control-label col-md-2" })</span>
            @Html.TextBox("TaiKhoan", "", new { placeholder = "Tên tài khoản", @class = "style1" })
        </div>
        <div>
            <span>Mật khẩu</span>
            @Html.Password("MatKhau", "", new { placeholder = "Mật khẩu", @class = "style1" })
        </div>
        <div>
            <span>Xác nhận mật khẩu</span>
            @Html.Password("XacNhanMatKhau", "", new { placeholder = "Nhập lại mật khẩu", @class = "style1" })
        </div>
        <div>
            <span>Câu hỏi bảo mật</span>
            @Html.DropDownList("CauHoi")
        </div>
        <div>
            <span>Câu trả lời</span>
            @Html.TextBox("CauTraLoi", "", new { placeholder = "Câu trả lời", @class = "style1" })
        </div>
        <div>
            @Html.MathCaptcha()
        </div>
        <input type="submit" value="Đăng Ký">

    </div>
    <div class="clearfix"> </div>
    }
</div>

<style>
    .style1 {
        font-family: 'Times New Roman';
    }
</style>